﻿.modal { display: none; }


.hero-unit .thumbnail { float: right; margin-left: 15px; }

.uneditable-input.multi-line { height: auto; }

header { margin-bottom: 20px; }
header a { float: left; margin-right: 15px; }
header a, header a img { width: 100px; height: 100px; }
header h1 { line-height: 108px; }

.form-actions .btn-cancel { float: right; }

.ajax-error { display: none; }