﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <!--[if lte IE 8]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css"/>
    <link href="@Url.Content("~/Content/bootstrap-overrides.css")" rel="stylesheet" type="text/css"/>
    <link href="@Url.Content("~/Content/canary.css")" rel="stylesheet" type="text/css"/>
    @RenderSection("HeaderIncludes", false)
</head>

<body>
    <div class="container">
        @RenderBody()

        @RenderSection("ScriptIncludes", false)
    </div>
</body>
</html>
