﻿@{ Layout = "~/Views/Shared/_BaseLayout.cshtml"; }

<div class="row">
    <div class="span8 offset2">
        <header>
            <a class="thumbnail" href="http://www.flickr.com/photos/asherjasper/3542125625/" title="Canary, on Flickr">
                <img src="http://farm4.staticflickr.com/3388/3542125625_d9c90195aa_t.jpg" width="100" height="100" alt="Canary" />
            </a>
            <h1>Canary</h1>
        </header>

        <div class="content">
            @RenderBody()
        </div>
    </div>
</div>

@section HeaderIncludes
{
    @RenderSection("HeaderIncludes", false)
}
@section ScriptIncludes
{
    @RenderSection("ScriptIncludes", false)
}
