﻿@{
    ViewBag.Title = "Application Error - Canary";
}

<div class="alert alert-error">
    <h2>500 - Application Error</h2>
    Something has gone horribly wrong! The error has been logged and we will endevour to invesitigate
    <p>the problem as soon as possible. You can try again but if the problem persists please come back later.</p>
    <p>@Html.ActionLink("Back to Home", "Index", "Home", null, new { @class = "btn btn-danger" })</p>
</div>